<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My Skills</title>

    <!--    TODO: -->
    <!--    <meta http-equiv="x-ua-compatible" content="ie=edge">-->
    <!--    <meta name="description" content="">-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->

    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skills.css">
</head>

<body>
<main>
    <h1>Skills</h1>

    <div class="skills-container">
        {% for key, category in skills %}
        <div class="skill-section">
            <h2>{{ category.name }}</h2>

            <ul class="skill-list skill-list-color-{{ category.color }}">
                {% for name, level in category.skills %}
                <li>
                    <div class="level-{{ level }} skill-list-item">
                        <p>{{ name }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</main>
</body>
</html>
