body {
    margin: 0 10px;
    font-family: Times New Roman, serif;
}

.skill-list {
    margin: 0 20px 40px 0;
    border: 1px solid black;
    padding: 0;
    list-style-type: none;
}

.skill-list li {
    font-size: 16px;
    height: 50px;
    margin: 0 0 1px 0;
    color: #ffffff;
}

.skill-list-item {
    height: 46px;
    margin: 0 0 1px 0;
    color: #ffffff;
    padding-top: 4px;
}

.skill-list-item p {
   padding-left: 3px;
    margin: 0;
}

.level-20 {
    width: 20%;
}

.level-40 {
    width: 40%;
}

.level-60 {
    width: 60%;
}

.level-80 {
    width: 80%;
}

.level-100 {
    width: 100%;
    background-color: #7ec699;
}

.skill-list-color-0 li {
    background: repeating-linear-gradient(45deg, #ff0066, #ff0066 3px, #ffffff 3px, #ffffff 9px);
    color: #ffffff;
}


.skill-list-color-1 li {
    color: #ffffff;
    background: repeating-linear-gradient(45deg, #33cccc, #33cccc 3px, #ffffff 3px, #ffffff 9px);
}

.skill-list-color-2 li {
    color: #ffffff;
    background: repeating-linear-gradient(45deg, #f7e530, #f7e530 3px, #ffffff 3px, #ffffff 9px);
}

.skill-list-color-0 .skill-list-item {
    background-color: #ff0066;
}

.skill-list-color-1 .skill-list-item {
    background-color: #33cccc;
}

.skill-list-color-2 .skill-list-item {
    background-color: #f7e530;
}

/* Average portrait tablet */
@media (min-width: 961px) {
    .skills-container {
        margin: auto;
    }

    .skill-section {
        min-width: 200px;
        width: 33.3%;
        margin: auto;
        display: inline-block;
        float: left;
        overflow: auto;
    }

    .skill-section > h2 {
        padding-left: 3px;
    }
}

/* Average modern computer / landscape tablet */
@media (min-width: 1281px) {
    main {
        width: 75%;
        margin: auto;
    }
}
